*{
    padding:0px;
    margin:0px;
}

form{
    margin-top:50px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:500px;
    align-items: center;
}
form div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subm{
    height:30px;
    width:100px;
    display:flex;
    justify-content: center;
    align-items: center;
}